.about__container {
  position: relative;
  display: flex;
  gap: 140px;
  padding-bottom: 235px;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
  }

  @include vp-767 {
    gap: 40px;
    padding-bottom: 70px;
  }
}

.about__text {
  @include vp-1365 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include vp-767 {
    align-items: start;
  }
}

.about__text h2 {
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 12px;
  }
}

.about__text h3 {
  font-family: $ff-roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding-bottom: 94px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 33px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 37px;
  }
}

.about__text p {
  font-family: $ff-roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;

  @include vp-1365 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    text-align: start;
  }
}

.about__text p:not(:first-of-type) {
  @include vp-1365 {
    display: none;
  }
}

.about__image {
  width: 660px;
  height: 401px;
  margin-top: 4px;

  @include vp-1365 {
    width: 678px;
    height: 345px;
    margin-top: 7px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
    margin-top: 13px;
  }
}

.about__image img {
  max-width: none;

  @include vp-1365 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
  }
}

.about__video {
  position: absolute;
  left: 50%;
  top: 64%;
  transform: translateX(-40%);
  width: 364px;
  height: 228px;

  @include vp-1365 {
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0);
    width: 320px;
    height: 167px;
  }
}

.about__video-poster img,
.about__video iframe {
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 320px;
    height: 167px;
  }
}

.about__video-poster {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-39%) translateY(14%);
  z-index: 1;
  object-fit: cover;

  @include vp-1365 {
    transform: translateX(-50%) translateY(80%);
  }

  @include vp-767 {
    width: 100%;
    top: 60%;
    transform: translateX(-50%) translateY(77%);
  }
}

.about__video-button {
  position: absolute;
  left: 53%;
  top: 69%;
  width: 72px;
  height: 72px;
  z-index: 2;
  border-radius: 50px;
  border: none;
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
  transform: translateX(-51%) translateY(-50%);
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    border: 2px solid rgb(237, 2, 51, 0.2);
    transform: translateX(-50%) translateY(-50%);
  }

  &::after {
    position: absolute;
    content: "\25BA";
    color: $color-default-white;
    font-size: 20px;
    width: 18px;
    height: 18px;
    left: 39%;
    top: 37%;
  }

  @include hover-focus {
    background: $color-default-white;

    &::before {
      border-color: $color-sapphire;
    }

    &::after {
      color: $color-sapphire;
    }
  }

  @include active {
    width: 52px;
    height: 52px;
    background: $color-default-white;

    &::before {
      border-color: $color-sapphire;
    }

    &::after {
      color: $color-sapphire;
      left: 34%;
      top: 30%;
    }
  }

  &:disabled {
    background: $color-default-white;
    opacity: 0.4;
    cursor: default;

    &::before {
      opacity: 0.4;
      border-color: $color-sapphire;
    }

    &::after {
      opacity: 0.4;
      color: $color-sapphire;
    }
  }

  @include vp-1365 {
    width: 52px;
    height: 52px;
    left: 50%;
    top: 74%;

    &::before {
      width: 72px;
      height: 72px;
    }

    &::after {
      font-size: 14px;
    }

    @include active {
      &::after {
        left: 37%;
        top: 34%;
      }
    }
  }

  @include vp-767 {
    top: 83%;
    transform: translateX(-50%) translateY(-54%);
    @include active {
      &::after {
        left: 35%;
        top: 34%;
      }
    }
  }
}
