.about__container {
  position: relative;
  display: flex;
  gap: 140px;
  padding-top: 115px;
  padding-bottom: 235px;

  @include vp-1365 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
    padding-top: 100px;
    padding-bottom: 183px;
  }

  @include vp-767 {
    gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.about__text {
  @include vp-1365 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include vp-767 {
    align-items: start;
  }
}

.about__text h2 {
  font-family: $ff-alumni;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  padding: 0;
  padding-bottom: 28px;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    padding-bottom: 12px;
  }
}

.about__text h3 {
  font-family: $ff-roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding-bottom: 94px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    padding-right: 4px;
    padding-bottom: 33px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 38px;
  }
}

.about__text p {
  font-family: $ff-roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0;
  padding-bottom: 8px;

  @include vp-1365 {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
    padding: 0;
    text-align: start;
  }
}

.about__text p:not(:first-of-type) {
  @include vp-1365 {
    display: none;
  }
}

.about__image {
  width: 660px;
  height: 401px;
  margin-top: 4px;

  @include vp-1365 {
    width: 678px;
    height: 345px;
    margin-top: 8px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
    margin-top: 13px;
  }
}

.about__image img {
  max-width: none;

  @include vp-1365 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
  }
}

.about__video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-39%) translateY(14%);
  width: 364px;
  height: 228px;
  z-index: 100;

  @include vp-1365 {
    transform: translateX(-50%) translateY(96%);
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0);
    width: 100vw;
    height: 167px;
  }
}

.about__video iframe {
  display: none;
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
  }
}

.about__video img {
  width: 364px;
  height: 228px;

  @include vp-1365 {
    width: 265px;
    height: 167px;
  }

  @include vp-767 {
    width: 100vw;
    height: 167px;
    object-fit: cover;
  }
}

.about__video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 72px;
  height: 72px;
  z-index: 1;
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
  border-radius: 50px;
  border: none;
  outline: 2px solid rgb(237, 2, 51, 0.2);
  outline-offset: 12px;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "\25BA";
    color: $color-default-white;
    font-size: 21px;
    width: 18px;
    height: 18px;
    left: 50%;
    top: 50%;
    transform: translateX(-45%) translateY(-66%);
  }

  @include hover-focus {
    background: $color-default-white;
    outline-color: $color-sapphire;

    &::after {
      color: $color-sapphire;
    }
  }

  @include active {
    width: 52px;
    height: 52px;
    background: $color-default-white;
    outline-offset: 22px;
    outline-color: $color-sapphire;

    &::after {
      color: $color-sapphire;
    }

    @include vp-1365 {
      width: 42px;
      height: 42px;
      outline-offset: 13px;
    }
  }

  &:disabled {
    background: $color-default-white;
    opacity: 0.4;
    cursor: default;
    outline-color: $color-sapphire;

    &::after {
      opacity: 0.4;
      color: $color-sapphire;
    }
  }

  @include vp-1365 {
    width: 52px;
    height: 52px;
    outline-offset: 8px;

    &::after {
      font-size: 16px;
      transform: translateX(-36%) translateY(-52%);
    }
  }

  @include vp-767 {
    transform: translateX(-50%) translateY(-50%);
  }
}
