.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__element {
  padding: 25px 0;
  border-top: 1px solid rgba(28, 51, 116, 0.2);
  border-left: none;
  border-right: none;

  @include vp-767 {
    padding: 14px 0;
  }
}

.accordion__element:last-child {
  border-bottom: 1px solid rgba(28, 51, 116, 0.2);
}

.accordion__button {
  position: relative;
  width: 100%;
  max-width: 860px;
  color: $color-sapphire;
  background-color: $color-transparent;
  text-align: start;
  padding: 8px 0;
  border: none;
  cursor: pointer;

  @include vp-1365 {
    max-width: 678px;
  }
}

.accordion__button:focus .accordion__button-img,
.accordion__button:hover .accordion__button-img {
  color: $color-default-white;
  background-color: $color-sapphire;
  border-color: transparent;
}

.accordion__button:disabled {
  pointer-events: none;
}

.accordion__button:disabled span {
  color: $color-sapphire;
}

.accordion__button:disabled .accordion__button-img {
  opacity: 0.5;
  border-color: rgb(28, 51, 116, 0.5);
}

.accordion__element:last-child .accordion__button {
  @include vp-1365 {
    padding: 0;
    padding-top: 1px;
  }

  @include vp-767 {
    padding: 7px 0;
  }
}

.accordion__button span:first-child {
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
  max-width: 650px;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
    max-width: 490px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    max-width: 240px;
    word-break: break-word;
  }
}

.accordion__button-img {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $color-resolution-blue;
  padding: 10px;

  &--close {
    display: none;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
    padding: 8px;
    top: 30%;
  }
}

.accordion__element.is-active .accordion__button > .accordion__button-img {
  &--close {
    display: flex;
    color: $color-default-white;
    background-color: $color-sapphire;
    border-color: transparent;
  }

  &--open {
    display: none;
  }

  @include vp-767 {
    top: 11px;
  }
}

.accordion__button-img svg {
  width: 20px;
  height: 20px;

  @include vp-767 {
    width: 14px;
    height: 14px;
  }
}

.accordion__button-img .accordion__button-img {
  color: $color-default-white;
}

.accordion__content {
  max-width: 660px;

  @include vp-1365 {
    max-width: 550px;
  }

  @include vp-767 {
    max-width: 290px;
  }
}

.accordion__element.is-active {
  @include vp-767 {
    padding-bottom: 21px;
  }
}

.accordion__element.is-active .accordion__content {
  padding-top: 3px;

  @include vp-1365 {
    padding-top: 4px;
  }

  @include vp-767 {
    padding-top: 11px;
  }
}

.accordion__wrapper p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}
