.accordion {
  display: flex;
  flex-direction: column;
}

.accordion__element {
  padding: 25px 0;
  border: 1px solid rgba(28, 51, 116, 0.2);
  border-left: none;
  border-right: none;
}

.accordion__button {
  position: relative;
  width: 100%;
  max-width: 860px;
  background-color: $color-transparent;
  text-align: start;
  padding: 8px 0;
  border: none;
  cursor: pointer;

  @include vp-1365 {
    max-width: 678px;
  }
}

.accordion__button span {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: start;

  @include vp-1365 {
    font-size: 22px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}

.accordion__button-img {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid $color-resolution-blue;
  padding: 10px;

  &--open {
    display: none;
  }

  &--minus {
    background-color: $color-resolution-blue;
  }

  @include vp-767 {
    width: 30px;
    height: 30px;
    padding: 8px;
  }
}

.accordion__element.is-active .accordion__button > .accordion__button-img {
  &--open {
    display: flex;
    color: $color-default-white;
    background-color: $color-sapphire;
    border-color: transparent;
  }

  &--close {
    display: none;
  }
}

.accordion__content {
  max-width: 560px;
}

.accordion__wrapper p {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}
