.btn {
  display: inline-flex;
  padding: 25px 20px;

  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: $color-sapphire;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  user-select: none;

  background-color: $color-transparent;
  border: 2px solid $color-sapphire;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &--transparent {
    color: $color-default-white;
    border: 2px solid $color-default-white;
  }
}
