.btn {
  display: inline-flex;
  padding: 25px 20px;

  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  color: $color-default-white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  user-select: none;

  background-color: $color-transparent;
  border: 2px solid $color-default-white;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-1365 {
    font-weight: 400;
  }
}
