.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px 30px;
  padding-top: 32px;

  @include vp-1365 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px 60px;
    padding-top: 29px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-top: 34px;
  }
}

.form__input input {
  min-width: 190px;
  color: $color-default-white;
  padding: 5px 0;
  background-color: $color-transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &::placeholder {
    color: $color-default-white;
  }

  &:hover {
    border-bottom-color: $color-default-white;
  }

  &:focus {
    border: 1px solid $color-default-white;
    outline: none;
  }

  @include active {
    border: 1px solid $color-default-white;
    outline: none;
  }

  &:focus-visible {
    background-color: transparent;
  }

  &:disabled {
    opacity: 0.4;
    border-bottom-color: rgba(116, 129, 156, 0.3);
    pointer-events: none;
  }

  @include vp-1365 {
    width: 221px;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    border: none;
    border-bottom: 1px solid $color-light-slate-grey;
    padding-left: 0;
    padding-bottom: 4px;

    &::placeholder {
      color: $color-default-white;
    }
  }

  @include vp-767 {
    width: 290px;
    font-size: 14px;
    line-height: 22px;
  }
}

.form__input input:focus,
.form__input input:active {
  &::placeholder {
    color: $color-transparent;
  }
}

.form__button {
  grid-column: 1/-1;
  justify-content: center;
  max-width: 410px;

  @include hover-focus {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  @include active {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include vp-1365 {
    grid-column: 1/-1;
    max-width: 502px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include vp-767 {
    max-width: 290px;
    margin-top: 13px;
  }
}

.is-invalid input {
  border-bottom-color: #ff121f;
}

.input-message.is-invalid {
  color: #ff121f;
  border: none;
}
