.juri {
  @include vp-1365 {
    padding: 0 55px;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}

.juri__swiper {
  position: relative;
  width: 100%;
  max-width: $vp-1366;
  margin: 0 auto;
}

.juri__title {
  margin: 0;
  padding-bottom: 45px;

  @include vp-1365 {
    text-align: center;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  @include vp-767 {
    padding-bottom: 42px;
  }
}

.juri__swiper-container {
  position: relative;
  width: 100%;
  max-width: $vp-1366;
}

.juri__swiper-wrapper {
  align-items: stretch;
}

.juri__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.juri__item {
  position: relative;
  background-color: rgba(16, 38, 84, 0.89);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100%;
  min-height: 294px;

  @include vp-1365 {
    width: 268px;
    min-height: 294px;
  }

  @include vp-767 {
    width: 226px;
    min-height: 274px;
  }
}

.juri__name {
  position: absolute;
  bottom: 26px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: $color-ghost-white;
  margin: 0;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.juri__wrapper {
  height: 100%;
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 33px;
  align-items: center;
  background-color: rgba(16, 38, 84, 0.89);

  @include vp-1365 {
    gap: 23px;
  }
}

.juri__item:hover .juri__wrapper {
  @media (min-width: $vp-1366) {
    display: flex;
  }
}

.juri__item:hover .juri__name {
  @media (min-width: $vp-1366) {
    bottom: unset;
    top: 45px;
    z-index: 1;
  }
}

.juri__item:active .juri__wrapper {
  @include vp-1365 {
    display: flex;
  }
}

.juri__item:active .juri__name {
  @include vp-1365 {
    bottom: unset;
    top: 35px;
    z-index: 1;
  }
}

.juri__specialty {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #b6bdcc;
  margin: 0;
  padding-top: 75px;

  @include vp-1365 {
    padding-top: 65px;
  }
}

.juri__description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
  list-style-type: disc;
  padding: 0 50px 50px;

  @include vp-1365 {
    padding: 0 40px 20px;
  }
}

.juri__image-wrapper img {
  object-fit: cover;
  min-height: 100%;
  width: 260px;
  height: 294px;

  @include vp-1365 {
    width: 268px;
    height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }
}

.juri__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  color: $color-sapphire;
  background-color: $color-transparent;
  z-index: 10;
  cursor: pointer;

  &--prev {
    left: 0;
    transform: translateX(-137%) translateY(-77%);
  }

  &--next {
    right: 0;
    transform: translateX(137%) translateY(-77%);
  }

  @include hover-focus {
    border: 1px solid $color-sapphire;
  }

  @include active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  @include vp-767 {
    width: 36px;
    height: 36px;

    &--prev {
      transform: translateX(-118%) translateY(-87%);
    }

    &--next {
      transform: translateX(118%) translateY(-87%);
    }
  }
}

.juri__nav-button svg {
  width: 16px;
  height: 32px;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
