.main-header {
  padding: 20px 0 30px;
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.main-header__logo {
  padding-top: 10px;
}

.main-header__phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: $color-default-white;
  padding-top: 10px;
}
