.main-header {
  padding: 20px 0 30px;

  @include vp-767 {
    padding-top: 6px;
    padding-bottom: 16px;
  }
}

.main-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

.main-header__logo {
  display: flex;
  align-items: center;
  padding-top: 10px;

  @include vp-1365 {
    width: 111px;
    height: 24px;
  }

  @include vp-767 {
    width: 102px;
    height: 22px;
  }
}

.main-header__phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: $color-default-white;
  padding-top: 10px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}
