.main-header {
  background:
    linear-gradient(
      90deg,
      $color-resolution-blue 0%,
      $color-resolution-blue 0.01%,
      #1a3578 39.11%,
      #73184b 75.5%,
      #b4022a 100%
    );
}

.main-header__container {
  display: flex;
  row-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
  padding-top: 30px;
  padding-bottom: 30px;

  @include vp-767 {
    padding-top: 14px;
    padding-bottom: 16px;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-header__logo img {
  width: 120px;
  height: 26px;

  @include vp-1365 {
    width: 111px;
    height: 24px;
  }

  @include vp-767 {
    width: 102px;
    height: 22px;
  }
}

.main-header__phone {
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  color: $color-default-white;
  max-width: 190px;

  @include hover-focus {
    color: $color-resolution-blue;
  }

  @include active {
    color: $color-sapphire;
    border-bottom: 1px solid $color-sapphire;
    margin-bottom: -1px;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}
