.poster {
  display: grid;
  grid-template-columns: 43% 1fr;
  background-color: $color-torch-red;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.poster__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
  color: $color-default-white;
  word-break: break-word;
  padding: 80px;
  margin: 0 auto;

  @include vp-1365 {
    gap: 6px;
    padding: 40px 45px 45px;
  }

  @include vp-767 {
    gap: 13px;
    padding: 40px;
  }
}

.poster__schedule-wrapper {
  display: flex;
  gap: 65px;

  @include vp-1365 {
    gap: 40px;
  }

  @include vp-767 {
    gap: 37px;
  }
}

.poster__title {
  max-width: 180px;
  font-family: $ff-alumni;
  font-size: 82px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  text-transform: uppercase;
  margin: 0;

  @include vp-1365 {
    max-width: 106px;
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }

  @include vp-767 {
    max-width: 117px;
  }
}

.poster__schedule {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;

  @include vp-1365 {
    gap: 8px;
  }

  @include vp-767 {
    gap: 6px;
  }
}

.poster__schedule-item {
  display: flex;
  flex-direction: column;
  gap: 6px;

  @include vp-1365 {
    gap: 2px;
  }

  @include vp-767 {
    gap: 3px;
  }
}

.poster__schedule-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }
}

.poster__date {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 5px 6px;

  @include vp-1365 {
    gap: 0 3px;
  }
}

.poster__time {
  position: relative;
  display: inline-flex;
  gap: 7px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-top: 6px;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 0;
    left: 0;
    height: 1px;
    background-color: $color-default-white;
  }

  &--short {
    grid-row: 1/3;
  }

  &--short::before {
    width: 64px;
  }

  @include vp-1365 {
    gap: 5px;
    font-size: 24px;
    line-height: 24px;
    padding-top: 0;

    &::before {
      top: -3px;
    }

    &--short::before {
      width: 42px;
    }
  }
}

.poster__date span {
  display: inline;
  padding-top: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @include vp-1365 {
    font-size: 10px;
    line-height: 100%;
    padding-top: 2px;
  }
}

.poster__description {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  margin: 0;

  @include vp-1365 {
    padding-bottom: 15px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 7px;
  }
}

.poster__button {
  max-width: 340px;
  padding: 27px 56px;
  margin-top: auto;

  @include hover-focus {
    color: $color-egyptian-blue;
    background-color: $color-default-white;
  }

  @include active {
    color: $color-sapphire;
    background-color: $color-default-white;
  }

  &:disabled,
  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include vp-1365 {
    padding: 20px 40px;
  }
}

.poster__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-sapphire;
}

.poster__image-wrapper img {
  width: 660px;
  height: 500px;

  @include vp-1365 {
    width: 386px;
    height: 324px;
  }

  @include vp-767 {
    width: 290px;
    height: 292px;
  }
}
