.price {
  background-color: $color-ghost-white;
}

.price__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  padding-top: 126px;

  @include vp-1365 {
    gap: 37px;
    padding-top: 100px;
    padding-bottom: 98px;
  }

  @include vp-767 {
    gap: 21px;
    padding-top: 73px;
    padding-bottom: 69px;
  }
}

.price__poster {
  position: absolute;
  right: 0;
  bottom: 0;
  height: auto;
  transform: translateY(30%);

  @include vp-1365 {
    transform: translateY(35%);
  }

  @include vp-767 {
    display: none;
  }
}

.price__poster img {
  width: 287px;
  height: 491px;
  object-fit: contain;

  @include vp-1365 {
    width: 327px;
    height: 420px;
  }
}

.price__title {
  margin: 0;
}

.price__sort-list {
  max-width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1365 {
    gap: 54px;
  }

  @include vp-767 {
    gap: 45px;
    max-width: 290px;
  }
}

.price__sort-item {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  padding-bottom: 10px;
  color: rgba(16, 38, 84, 0.5);
  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  @include vp-1365 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 12px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 16px;
  }

  @include hover-focus {
    color: $color-sapphire;
    border-bottom: 2px solid $color-crimson;
    margin-bottom: -2px;
  }

  @include active {
    color: $color-sapphire;
    border-bottom: 2px solid $color-crimson;
    margin-bottom: -2px;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.price__sort-item.is-active {
  color: $color-sapphire;
  border-bottom: 2px solid $color-crimson;
  margin-bottom: -2px;
}

.price__card-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 3px;
  z-index: 1;

  @include vp-1365 {
    flex-direction: column;
    padding-top: 8px;
  }

  @include vp-767 {
    gap: 35px;
    padding-top: 13px;
  }
}

.price__card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 360px;
  min-height: 448px;
  background-color: $color-default-white;
  padding: 67px 65px 65px;

  &--basic {
    padding-top: 60px;
    padding-bottom: 58px;
    border: 7px solid;
    border-image: linear-gradient(to bottom right, #d10a42 0%, #00359f 95%);
    border-image-slice: 1;
  }

  @include vp-1365 {
    width: 440px;
    min-height: 438px;
    gap: 13px;
    padding: 66px 110px 63px;

    &--basic {
      padding-top: 59px;
      padding-bottom: 56px;
    }
  }

  @include vp-767 {
    width: 290px;
    min-height: 374px;
    gap: 14px;
    padding: 50px 36px;

    &--basic {
      padding-top: 43px;
      padding-bottom: 43px;
    }
  }

  @include hover-focus {
    padding-top: 60px;
    padding-bottom: 58px;
    border: 7px solid;
    border-image: linear-gradient(to bottom right, #d10a42 0%, #00359f 95%);
    border-image-slice: 1;
    outline: none;

    .price__button {
      color: $color-default-white;
      background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
      border: none;
      padding-top: 27px;
      padding-bottom: 27px;
      outline: none;
    }

    @include vp-1365 {
      padding-top: 59px;
      padding-bottom: 56px;

      .price__button {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }

    @include vp-767 {
      padding-top: 43px;
      padding-bottom: 43px;

      .price__button {
        padding-top: 22px;
        padding-bottom: 22px;
      }
    }
  }
}

.price__card-description {
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;

  @include vp-1365 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
}

.price__card-time {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.price__card-price-wrapper {
  position: relative;
  display: flex;
  gap: 14px;
}

.price__card-price {
  position: relative;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: $color-egyptian-blue;
  z-index: 1;
  margin: 0;
  padding-top: 64px;

  @include vp-1365 {
    padding-top: 63px;
  }

  @include vp-767 {
    font-size: 48px;
    padding-top: 51px;
  }
}

.price__card-price-wrapper span {
  position: absolute;
  top: 9px;
  left: -20px;
  color: $color-whisper;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  opacity: 0.48;
  max-width: 203px;
  max-height: 100%;
  overflow: hidden;

  @include vp-767 {
    font-size: 80px;
    max-width: 162px;
  }
}

.price__card-price-wrapper svg {
  align-self: end;
  margin-bottom: 25px;
  z-index: 1;

  @include vp-767 {
    width: 24px;
    height: 33px;
    margin-bottom: 19px;
  }
}

.price__button {
  width: 205px;
  color: $color-sapphire;
  border: 2px solid $color-sapphire;
  padding: 25px;
  margin-top: auto;

  @include hover-focus {
    color: $color-default-white;
    background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  @include active {
    color: rgb(255, 255, 255, 0.7);
    background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;
    padding-top: 27px;
    padding-bottom: 27px;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
  }

  @include vp-1365 {
    padding: 22px;

    @include hover-focus {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @include active {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  @include vp-1365 {
    padding: 20px;
    margin-bottom: 3px;

    @include hover-focus {
      padding-top: 22px;
      padding-bottom: 22px;
    }

    @include active {
      padding-top: 22px;
      padding-bottom: 22px;
    }
  }

  @include vp-767 {
    margin-bottom: 1px;
  }
}

.price__card-item--basic .price__button {
  color: $color-default-white;
  background: linear-gradient(97deg, #ed0233 17.6%, #003eb7 95.31%);
  border: none;
  padding-top: 27px;
  padding-bottom: 27px;

  @include vp-1365 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @include vp-1365 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
