.sitemap__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 67px;
  background-color: $color-sapphire;
  margin-top: 30px;
}

.sitemap__container {
  padding-top: 20px;
  padding-bottom: 30px;
}
