.social {
  max-width: 95px;
  padding-top: 5px;

  @include vp-767 {
    padding-top: 23px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;

  @include hover-focus {
    background-color: $color-egyptian-blue;
    outline: none;
  }

  @include active {
    background-color: $color-sapphire;
  }

  &:disabled,
  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.social__link:hover:not(.focus-visible) svg,
.social__link.focus-visible:focus svg,
.social__link:active svg {
  fill: $color-default-white;
}

.social__link svg {
  display: block;
  fill: $color-russian-black;
}
